<section class="footer container">
    <div class="row container">
        <div class="col-sm-6">
            <h4>Mascoteros® - 2015</h4>
        </div>
        <div class="col-sm-6">
            <div class="pull-right">
                <a href="" class="btn btn-info">
                    <i class="fa fa-facebook"></i> Facebook
                </a>
                <a href="" class="btn btn-info">
                    <i class="fa fa-twitter"></i> Twitter
                </a>
            </div>
        </div>
    </div>
</section>
