<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <div class="content">
          <div class="pull-middle">
            <h1 class="page-header">Crea el id para tu mascota, Gratis!</h1>
            <p class="lead">Registrate, Añadí tu mascota y Listo.</p>
            <button class="btn btn-primary btn-large"><i class="fa fa-facebook"></i> Facebook</button>
            <button class="btn btn-primary btn-large"><i class="fa fa-facebook"></i> Twitter</button>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-1 text-center mt-100 mb-100">
        <div class="phone">
          <img class="img-responsive img-rounded" src="http://placemi.com/djlnr/263x480">
        </div>
      </div>
    </div>
  </div>
</header>
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-1 text-center mt-100 mb-100">
        <div class="phone">
          <img class="img-responsive img-rounded" src="http://placemi.com/djlnr/263x480">
        </div>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <div class="content">
          <div class="pull-middle">
            <h2 class="h1 page-header">Descubrí la nueva forma de cuidar a tu mascota.</h2>
            <ul class="media-list">
              <li class="media">
                <a class="media-left" href="#">
                  <span class="fa fa-cloud icon text-success"></span>
                </a>
                <div class="media-body">
                  <h3 class="media-heading">Id para tu mascota.</h3>
                  <p>Registrate, imprimí y listo. Desde un celular escanea el codigo QR y podes ver el perfil de tu mascota, totalmente gratis.</p>
                </div>
              </li>
              <li class="media">
                <a class="media-left" href="#">
                  <span class="fa fa-lock icon text-success"></span>
                </a>
                <div class="media-body">
                  <h3 class="media-heading">Privacidad.</h3>
                  <p>Si no queres que tus datos sean publicos, podés activar el perfíl cuando lo necesites.(premium)</p>
                </div>
              </li>
              <li class="media">
                <a class="media-left" href="#">
                  <span class="fa fa-user icon text-success"></span>
                </a>
                <div class="media-body">
                  <h3 class="media-heading">Geo Localization.</h3>
                  <p>Si tu perro es escaneado te enviamos un alerta con la posición.</p>
                </div>
              </li>
              <li class="media">
                <a class="media-left" href="#">
                  <span class="fa fa-user icon text-success"></span>
                </a>
                <div class="media-body">
                  <h3 class="media-heading">Directorio.</h3>
                  <p>Buscas entrenadores, veterinarias, amigos, eventos... encontralo acá. </p>
                </div>
              </li>
              <li class="media">
                <a class="media-left" href="#">
                  <span class="fa fa-user icon text-success"></span>
                </a>
                <div class="media-body">
                  <h3 class="media-heading">Y más.</h3>
                  <p>Estamos en desarrollo constantemente, para ofrecerte siempre algo nuevo para vos y tus mascotas. </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-right">
        <div class="content">
          <div class="pull-middle">
            <h4><strong>Describe your product.</strong></h4>
            <p>Proin sapien neque, consequat ac tempus aliquam, gravida in urna. Phasellus et lectus in odio imperdiet tempus. Aenean posuere, nunc a tristique imperdiet, massa dolor dictum eros, sit amet tempor turpis turpis vel tortor.</p>
            <small>Phasellus feugiat at lorem a tincidunt. Nam hendrerit leo vitae orci pellentesque, nec euismod dolor condimentum.</small>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-1 mt-100 mb-100">
        <div class="phone">
          <img class="img-responsive img-rounded" src="http://placemi.com/djlnr/263x480">
        </div>
      </div>
      <div class="col-md-3 col-md-offset-1">
        <div class="content">
          <div class="pull-middle">
            <h4><strong>Even more stuff.</strong></h4>
            <p>Proin sapien neque, consequat ac tempus aliquam, gravida in urna. Phasellus et lectus in odio imperdiet tempus. Aenean posuere, nunc a tristique imperdiet, massa dolor dictum eros, sit amet tempor turpis turpis vel tortor.</p>
            <a class="btn btn-success btn-circle" href="#">Sign up for free</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>-->
