<section class="row">
    <!--<a data-ng-repeat="vet in vets" data-ng-href="#!/vets/{{vet._id}}">-->
    <div class="col-sm-4" style="min-height: 410px;" data-ng-repeat="vet in vets" ng-click="goToVet(vet.slug)">
      <!-- START widget-->
      <div class="wow bounceInUp panel widget" data-wow-offset="0" data-wow-duration="1.0s" >
        <div class="panel-body text-center bg-center" style="background-image: url('/modules/core/img/vet-profile.png')">
          <div class="row row-table">
            <div class="col-sm-4 text-white">
              <a data-ng-href="/vet/{{vet.slug}}">
                <img ng-if="vet.picture" ng-src="{{vet.picture | cloudinaryProfile}}" alt="{{vet.name}}" class="img-thumbnail thumb128">
                <!--<img ng-if="!vet.picture" src="/modules/core/img/vet-profile.png" alt="{{vet.name}}" class="img-thumbnail thumb128">-->
              </a>
                <br/><br/><br/><br/><br/><br/>
            </div>
          </div>
        </div>
        <!--<div class="panel-body text-center bg-gray-darker">
            <div class="row row-table">
                <div class="col-xs-3">
                    <a href="#" class="text-white">
                        <em class="fa fa-twitter fa-2x"></em>
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="#" class="text-white">
                        <em class="fa fa-facebook fa-2x"></em>
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="#" class="text-white">
                        <em class="fa fa-google-plus fa-2x"></em>
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="#" class="text-white">
                        <em class="fa fa-comments fa-2x"></em>
                    </a>
                </div>
            </div>
        </div>-->
        <div class="list-group">
          <!--<a href="#" class="list-group-item">
              <span class="pull-right">Saliendo a pasear</span>
              <em class="fa fa-fw fa-clock-o text-muted"></em>Ultima Actividad</a>-->
        <div class="list-group-item">
            <span class="label label-primary pull-right"></span>
            <em class="fa fa-fw fa-map-marker text-muted"></em>{{vet.name}}</div>
          <div class="list-group-item">
              <span class="label label-primary pull-right"></span>
              <em class="fa fa-fw fa-map-marker text-muted"></em>{{vet.address}}</div>
          <div class="list-group-item">
              <span class="label label-info pull-right"><i class="fa fa-envelope"></i></span>
              <em class="fa fa-fw fa-user text-muted"></em>Contactar</div>
            <a class="list-group-item">
                <span class="label label-info pull-right"><i class="fa fa-share"></i></span>
                <em class="fa fa-fw fa-user text-muted"></em>Mas informacion de la empresa</a>
            <a class="list-group-item">
                <span class="label label-danger pull-right"><i class="fa fa-share"></i></span>
                <em class="fa fa-fw fa-times-circle text-muted"></em>Reportar</a>
        </div>
        <!--<div class="widget bg-success">
            <div class="row row-table">
                <div class="col-xs-4 text-center pv-lg">
                    <em class="icon-star fa-3x"></em>
                </div>
                <div class="col-xs-8 pv-lg">
                    <div class="h1 m0 text-bold">7000</div>
                    <div class="text-uppercase">likes totales</div>
                </div>
            </div>
        </div>-->
      </div>
      <!-- END widget-->
    </div>
    <!--</a>-->
</section>
