<div data-ng-controller="HomeController" class="landing" data-ng-init="checkAuthentication()" >

	<header class="header landing" ng-cloak ng-if="!authentication.user">
		<div data-wow-offset="100" data-wow-duration="1.2s" class="container wow fadeInLeft">
			<div class="row">
				<div class="col-md-5">
					<div class="content">
						<div class="pull-middle">
							<h1 class="page-header">La nueva forma de cuidar a tu mascota, gratis!</h1>
							<p class="lead">
								Somos un portal que unifica servicios para dueños de mascotas, hogares, refugios, veterinarias, paseadores, entrenadores, eventos, proovedores de articulos para mascotas y más.
							</p>
							<p class="lead">Ingresá con tus redes sociales, añadí tu mascota y disfruta de nuestros beneficios.</p>
							<div class="widget">
								<h3>Ingresar:</h3>
								<div data-ng-controller="AuthenticationController">
									<div class="col-md-12 text-left">
										<a href="/api/auth/facebook" target="_self" class="undecorated-link">
											<img src="/modules/users/img/buttons/facebook.png">
										</a>
										<a href="/api/auth/twitter" target="_self" class="undecorated-link">
											<img src="/modules/users/img/buttons/twitter.png">
										</a>
										<a href="/api/auth/google" target="_self" class="undecorated-link">
											<img src="/modules/users/img/buttons/google.png">
										</a>
									</div>
								</div>
							</div>
							<!--<button class="btn btn-primary btn-large"><i class="fa fa-facebook"></i> Facebook</button>
							<button class="btn btn-primary btn-large"><i class="fa fa-facebook"></i> Twitter</button>-->
						</div>
					</div>
				</div>
				<div class="col-md-4 col-md-offset-1 text-center mt-100 mb-100">
					<div class="phone">
						<img class="img-responsive img-rounded" src="/modules/core/img/cel1.png">
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- START DOWNLOAD-->
	<section id="download" class="download landing" ng-if="!authentication.user">
		<div data-wow-offset="100" data-wow-duration="1.2s" class="container">
			<h2 class="h1 page-header">Ningun dispositivo queda afuera!</h2>
			<!--<p class="lead">Descargá el lector del ID!</p>-->
			<div class="row">
				<div class="col-xs-3">
					<center>
						<a href="https://play.google.com/store/apps/details?id=la.droid.qr&amp;hl=es_419" style="padding:10px;">
							<img src="https://lh6.ggpht.com/sRD-KnIiknzGuUITit7pvoav79AIDjkO0l54aol9Qm8ayWeq-bEmPemTQF-IzuHY-Bs=w300-rw" style="width:50px;" alt="android">
						</a>
						<br>
						<a href="https://play.google.com/store/apps/details?id=la.droid.qr&amp;hl=es_419" style="padding:10px; color: #fff;">
							Android
						</a>
					</center>
				</div>


				<div class="col-xs-3">
					<center>
						<a href="https://itunes.apple.com/us/app/qr-reader-for-iphone/id368494609?mt=8" style="padding:10px;">
							<img src="http://a3.mzstatic.com/us/r30/Purple/v4/f2/ee/15/f2ee15bd-9c88-0ebf-742b-84f917bc8410/mzl.ruupbbha.175x175-75.jpg" style="width:50px;" alt="ios">
							<br>
						</a>
						<a href="https://itunes.apple.com/us/app/qr-reader-for-iphone/id368494609?mt=8" style="padding:10px; color: #fff;">
							IOS
						</a>
					</center>
				</div>


				<div class="col-xs-3">
					<center>
						<a href="http://www.windowsphone.com/es-ar/store/app/qr-code-reader/e21dee2d-9c1c-4f25-916f-c93d25da8768" style="padding:10px;">
							<img src="http://cdn.marketplaceimages.windowsphone.com/v8/images/ed5b64c8-ec05-4e7a-8e91-0dd7960f0975?imageType=ws_icon_large" style="width:50px;" alt="windows phone">
						</a>
						<br>
						<a href="http://www.windowsphone.com/es-ar/store/app/qr-code-reader/e21dee2d-9c1c-4f25-916f-c93d25da8768" style="padding:10px; color: #fff;">
							Windows Phone
						</a>
					</center>
				</div>


				<div class="col-xs-3">
					<center>
						<a href="http://appworld.blackberry.com/webstore/content/13962/?lang=es&amp;countrycode=AR" style="padding:10px;">
							<img src="http://appworld.blackberry.com/webstore/servedimages/1153576.png/?t=7" style="width:50px;" alt="blackberry">
						</a>
						<br>
						<a href="http://appworld.blackberry.com/webstore/content/13962/?lang=es&amp;countrycode=AR" style="padding:10px; color: #fff;">
							BlackBerry
						</a>
					</center>
				</div>
			</div>
		</div>
	</section>
	<!-- END DOWNLOAD-->

	<header class="header landing" ng-if="!authentication.user">
		<div data-wow-offset="100" data-wow-duration="1.2s" class="container wow fadeInRight">
			<div class="row">
				<div class="col-md-4 col-md-offset-1 text-center mt-100 mb-100">
					<div class="phone">
						<img class="img-responsive img-rounded" src="/modules/core/img/cel2.png">
					</div>
				</div>
				<div class="col-md-5">
					<div class="content">
						<div class="pull-middle">
							<h2 class="h1 page-header">Descubrí la nueva forma de cuidar a tu mascota.</h2>
							<ul class="media-list">
								<li class="media">
									<div class="media-body">
										<h3 class="media-heading">Id para tu mascota.</h3>
										<p>Con codigo unico de tu mascota  accedé a los servicios de mascoteros.</p>
									</div>
								</li>
								<li class="media">
									<div class="media-body">
										<h3 class="media-heading">Encontrale pareja a tu mascota.</h3>
										<p>Encontrá pareja para tu mascota de la manera mas simple.</p>
									</div>
								</li>
								<li class="media">
									<div class="media-body">
										<h3 class="media-heading">Directorio de Veterinarias.</h3>
										<p>Encontra la lista más completa de veterinarias cercanas.</p>
									</div>
								</li>
								<li class="media">
									<div class="media-body">
										<h3 class="media-heading">Adopciones.</h3>
										<p>Tenes una mascota para dar en adopción, cargá el perfíl y encontrale un hogar rapidamente.</p>
									</div>
								</li>
								<li class="media">
									<div class="media-body">
										<h3 class="media-heading">Y más.</h3>
										<p>Estamos en desarrollo constantemente, para ofrecerte siempre algo nuevo para vos y tus mascotas. </p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<section class="section" ng-if="authentication.user">
		<div class="container">
			<br/><br/><br/>
			<div class="fb-like"></div>
			<!--<div width="100%" class="fb-page" data-href="https://www.facebook.com/mascoterosapp" data-width="100%" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/mascoterosapp"><a href="https://www.facebook.com/mascoterosapp">Mascoteros</a></blockquote></div></div>-->
			<!--<home-list entity-url="'/event/'" title="'Próximos eventos'" items="[1,2,3,4]"></home-list>-->
			<home-list entity-url="'/vets/'" title="'Veterinarias en tu zona'" items="vets"></home-list>

			<home-list entity-url="'/pet/'" title="'Busca Novi@s'" items="dates"></home-list>

			<div class="row">
				<div class="col-sm-6">
					<h3 style="margin-top: 53px;">Huella Animal - FWTV</h3>
					<a class="" style="width: 100%;" target="_blank" href="https://www.fwtv.tv/huellaanimal">
						<div class="widget founds-banner text-center" style="  min-height: 240px;
  background-position: center center;
  background-size: 100%;
background-repeat: no-repeat;
				background-color: #000; background-image: url('https://d1rf26t3pt6nos.cloudfront.net/htswqdoyt/image/upload/v1435198660/jlf3ilfjtw2zgllfltft.jpg')"></div>
					</a>
				</div>
				<div class="col-sm-6">
					<h3 style="margin-top: 53px;">Dog Tv - Television for Dogs</h3>
					<a class="" style="width: 100%;" target="_blank" href="https://dogtv.com/">
						<div class="widget founds-banner text-center" style="  min-height: 240px;
  background-position: center center;
  background-size: 60%;
background-repeat: no-repeat;
				background-color: #fff; background-image: url('http://i.ytimg.com/vi/xjkY6_vx5w0/maxresdefault.jpg')"></div>
					</a>
				</div>
			</div>

			<!--<div class="widget founds-banner text-center">
				<hr/>
				<h2>TIENES UN DESCUENTO CERCA DE TU UBICACION ACTUAL</h2>
				<p>Suma puntos y conseguí descuentos</p>
				<hr/>
			</div>-->
			<home-list entity-url="'/pet/'" title="'Perdidos en la zona'" items="missing"></home-list>
			<!--<div class="widget founds-banner text-center">
				<h2 class="text-center">Fondo actual</h2>
				<h2 class="text-center">$ <strong>{{founds.foundCounter}}</strong></h2>
				<hr/>
				<h3 class="text-center">Ganadores del mes de Abril</h3>
				<div class="row">
					<div class="col-md-4 text-center">Soplo de vida gano: $1000 en productos (ver causa)</div>
					<div class="col-md-4 text-center">Hogar de mascotas de Merlo gano: $500 en productos (ver causa)</div>
					<div class="col-md-4 text-center">4Patas gano: $500 en productos (ver causa)</div>
				</div>
				<hr/>
				<h4>Vos tambien podes ganar!</h4>
				<button class="btn btn-info btn-large">Participar</button>
				<button class="btn btn-info btn-large">Términos y Condiciones</button>
			</div>-->
			<div class="row">
				<div class="col-sm-12">
					<home-list entity-url="'/pet/'" title="'Adopción'" items="adoption"></home-list>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<h3 style="margin-top: 53px;">Amores Perros Teve</h3>
					<a class="" target="_blank" href="http://www.amoresperrosamerica.com/" style="  width: 100%;
  display: block;
  background-image: url('https://yt3.ggpht.com/-8MSi99eOb1k/VMkgedGHzVI/AAAAAAAAAAg/cK9FM9bpbpI/w2120-fcrop64=1,00005a57ffffa5a8-nd/cute.jpg');
  background-size: cover;
  background-position: center center;">
						<div class="widget founds-banner text-center" style="  min-height: 240px;
  background-position: center center;
  background-size: 30%;
background-repeat: no-repeat;
				background-color: transparent; background-image: url('http://static.wixstatic.com/media/e9cf97_8e8863bab89149c0b52c55888affd5d0.png_srz_p_100_91_75_22_0.50_1.20_0.00_png_srz')"></div>
					</a>
				</div>
				<div class="col-sm-6">
					<h3 style="margin-top: 53px;">Soplo de vida - Hogar de transito para animales</h3>
					<a class="" style="width: 100%;" target="_blank" href="http://www.soplodevida.org/">
						<div class="widget founds-banner text-center" style="  min-height: 240px;
  background-position: center center;
  background-size: 100%;
background-repeat: no-repeat;
				background-color: #000; background-image: url('https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xfa1/t31.0-8/11169601_819482288101195_3187343376673467976_o.jpg')"></div>
					</a>
				</div>
			</div>
			<!--<div class="widget founds-banner text-center">
				<h2>BAÑOS 2 x 1</h2>
			</div>-->
			<!--<home-list entity-url="'/trainer/'" title="'Paseadores en tu zona'" items="[1,2,3,4]"></home-list>-->
			<br/>
		</div>
	</section>
</div>

