<section class="container" data-ng-controller="VetsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="vet.name"></h1>
		<div class="pull-right" data-ng-show="authentication.user._id == vet.user._id">
			<a class="btn btn-primary" href="/#!/vets/{{vet._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<a class="btn btn-primary" data-ng-click="remove();">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</div>
	</div>
	<h3>Dirección:</h3>
	<p>{{vet.address}}</p>
	<ui-gmap-google-map center="vet.coords" zoom="18" draggable="false" options="options">
		<ui-gmap-marker coords="vet.coords" options="marker.options" events="marker.events" idkey="marker.id"></ui-gmap-marker>
	</ui-gmap-google-map>
	<hr/>
	<home-list title="'Productos'" items="[1,2,3,4,5,6,7,8]"></home-list>
	<hr/>
</section>
