<h3 data-ng-show="authentication.user._id == pet.user._id">
	<div class="pull-right">
		<a class="btn btn-primary" href="/#!/pets/{{pet._id}}/edit">
			<i class="fa fa-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="fa fa-trash"></i>
		</a>
	</div>
	{{pet.name}}
</h3>
<div class="content-wrapper">
	<div class="unwrap">
		<div style="background-image: url('{{pet.picture}}')" class="bg-cover">
			<div class="p-xl text-center text-white">
				<img ng-if="pet.picture" alt="{{pet.name}}" ng-src="{{pet.picture |cloudinaryProfile }}" class="img-thumbnail img-circle thumb128">
				<h3 class="m0">{{pet.name}}</h3>
				<p>{{pet.user.displayName}}</p>
				<p>{{pet.description}}</p>
			</div>
		</div>
		<div class="text-center bg-gray-dark p-lg mb-xl">
			<div class="row row-table">
				<div class="col-xs-4 br">
					<h3 class="m0">400</h3>
					<p class="m0">
						<!--<span class="hidden-xs"></span>-->
						<span>Visitas</span>
					</p>
				</div>
				<div class="col-xs-4 br">
					<h3 class="m0">2000</h3>
					<p class="m0">Likes</p>
				</div>
				<div class="col-xs-4">
					<h3 class="m0">100</h3>
					<p class="m0">Puntos</p>
				</div>
			</div>
		</div>
		<div class="p-lg">

		</div>
	</div>
</div>

<section data-ng-init="findOne()">
	<!--<div class="" data-ng-show="((authentication.user) && (authentication.user._id == pet.user._id))">-->
	<div class="">
		<div class="panel panel-info">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-3 col-lg-3 " align="center">
						<div class="row">
							<div class="col-md-12 pet-actions-container">
								<button ng-show="!authentication.user._id == pet.user._id" class="btn btn-lg btn-warning"><i class="icon-envelope"></i> Contactar familia</button>
								<button ng-show="pet.missing" class="btn btn-lg btn-success"><i class="icon-magnifier-add"></i> Encontrado</button>
								<button ng-show="!pet.missing && authentication.user._id == pet.user._id" class="btn btn-lg btn-danger"><i class="icon-magnifier-remove"></i> Perdido</button>
								<!--MAKE A LIKE DIRECTIVE-->
								<button class="btn btn-lg btn-success"><i class="icon-like"></i> Likes: 120</button>
								<button class="btn btn-lg btn-success" disabled><i class="icon-like"></i> Likes: 120 / Liked</button>
								<!--MAKE A LIKE DIRECTIVE-->

								<!--MAKE A SHARE DIRECTIVE-->
								<a facebook class="facebookShare" data-url='http://mascoteros.net/pets/{{pet.slug}}' data-shares='shares'>{{ shares }}</a>
								<a twitter  data-lang="en" data-count='horizontal' data-url='http://mascoteros.net/pets/{{pet.slug}}' data-via='mascoteros' data-size="medium" data-text='Hola soy {{pet.name}}!' ></a>
								<div gplus class="g-plus" data-size="tall" data-annotation="bubble" data-href='http://mascoteros.net/pets/{{pet.slug}}' data-action='share'></div>
								<button class="btn btn-lg btn-primary"><i class="icon-share"></i> Compartír</button>
								<!--MAKE A SHARE DIRECTIVE-->

								<button class="btn btn-lg btn-primary"><i class="icon-printer"></i> Imprimir ID</button>
							</div>
						</div>
						<div class="row">
							<qr ng-if="pet" pet="pet"></qr>
						</div>
					</div>
					<div class=" col-md-6 col-lg-6 ">
						<table class="table table-user-information">
							<tbody>
							<tr>
								<td>Raza</td>
								<td>{{pet.breed}}</td>
							</tr>
							<tr>
								<td>Color</td>
								<td>{{pet.color}}</td>
							</tr>
							<tr>
								<td>Nació</td>
								<td am-time-ago="pet.yearOfBirth"></td>
							</tr>
							<tr>
							<tr>
								<td>Genero</td>
								<td>{{pet.genre.name}}</td>
							</tr>
							<tr>
								<td>Castrado</td>
								<td><i class="fa" ng-class="pet.neutered ? 'fa-check' : 'fa-times'"></i></td>
							</tr>
							<tr>
								<td>Email de contacto</td>
								<td>
									<a ng-if="pet.email" href="mailto:{{pet.email}}">{{pet.email}}</a>
								</td>
							</tr>
							<td>Descripcion o Rasgos de la mascota</td>
							<td>{{pet.description}}</td>

							</tr>

							</tbody>
						</table>

					</div>
					<div class="col-md-3 col-lg-3 ">
						<h3>Dirección</h3>
						<address>
							<strong>{{pet.address}}</strong>
						</address>
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.0167085495204!2d-58.38157000000004!3d-34.60373899999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4aa9f0a6da5edb%3A0x11bead4e234e558b!2sObelisco!5e0!3m2!1ses-419!2sar!4v1426818113475" width="100%" height="400" frameborder="0" style="border:0"></iframe>
					</div>
				</div>
			</div>
			<div class="panel-footer">

			</div>

		</div>
		<!--<img ng-src="{{ pet.picture }}" alt="{{ pet.name }}"/>-->
		<!--<qr pet="pet"></qr>
        <a class="btn btn-primary" href="/#!/pets/{{pet._id}}/edit">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
          <i class="glyphicon glyphicon-trash"></i>
        </a>-->
	</div>
</section>
