<!--<h3 class="text-center text-thin">Tab 1</h3>-->
<ul class="event-list">
    <li>
        <img alt="Independence Day" src="https://farm4.staticflickr.com/3100/2693171833_3545fb852c_q.jpg" />
        <div class="info">
            <h2 class="title">Nació mascoteros</h2>
            <p class="desc"></p>
        </div>
        <!--<div class="social">
            <ul>
                <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
                <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
                <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
            </ul>
        </div>-->
    </li>
    <li>
        <time datetime="2014-07-20">
            <span class="day">9</span>
            <span class="month">Julio</span>
            <span class="year">2015</span>
            <span class="time">00.00</span>
        </time>
        <!--<img alt="Independence Day" src="https://farm4.staticflickr.com/3100/2693171833_3545fb852c_q.jpg" />-->
        <div class="info">
            <h2 class="title">Día de la independencia</h2>
            <p class="desc">en Argentina</p>
        </div>
        <!--<div class="social">
            <ul>
                <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
                <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
                <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
            </ul>
        </div>-->
    </li>
</ul>
