#map_canvas {
  height: 100%;
  width: 100%;
  margin: 0px;
}
#map_canvas {
  position: relative;
}
.angular-google-map-container {
  position: relative;
  min-height: 200px;
  height: 100%;
  width: 100%;
}

.navbar-inverse {
  background-color: #00aeef;
  color: #fff;
}

.navbar-inverse .btn-link, .navbar-inverse .navbar-brand, .navbar-inverse .navbar-link {
  color: #fff;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text {
  color: #fff;
}

.navbar-header .navbar-brand {
  padding: 0;
  padding-top: 5px;
}

.navbar-header .navbar-brand img{
  height: 40px;
}
